body{
    background-color: #202124;
    font-family: arial,sans-serif;
    height: 100%;
    color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

div{
    display: flex;
    margin-left: 5px;
    padding: 5px;
    font-size: 14px;
    justify-content: space-around;
}

.link:hover{
    text-decoration: underline;
    cursor: pointer;
}
nav{
    display: flex;
    padding: 6px;
    flex-direction: row-reverse;
    align-items: center;
}

.login{
    background: #8ab4f8;
    border: 1px solid transparent;
    color: #202124;
    cursor: pointer;
    padding: 9px 23px;
    border-radius: 4px;
}

.login:hover{
    background: white;
    border: 1px solid transparent;
}

.grid{
    margin: 0px 5px 0px 5px;
    padding: 10px;
}
.grid:hover{
    border-radius: 50%;
    background-color: #414141;
    cursor: pointer;
}

button{
    font-size: 13px;
}

.logo{
    justify-content: space-around;
}

.search-bar{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.search-box{
    display: flex;
    border-radius: 40px;
    border: 0.1px solid #787d82;
    width: 580px;
    justify-content: flex-start;
    align-items: center;
}

.search-box:hover{
    border-color: transparent;
    background: #303134;
    -webkit-box-shadow: 0px 6px 4px 0px rgba(0,0,0,0.36); 
    box-shadow: 0px 6px 4px 0px rgba(0,0,0,0.36);
}

input{
    writing-mode: horizontal-tb !important;
    text-align: start;
    cursor: text;
    border: 0;
    padding: 1px 2px;
    outline: none;
    color:#e8eaed;
    word-wrap: break-word;
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent
}

.goxjub:hover{
    cursor: pointer;
}

.option{
    background-color: #303134;
    border: 1px solid #303134;
    color: #e8eaed;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 14px;
}

.option:hover{
    border: 0.1px solid #787d82;
}

.footer{
    display: flex;
    background-color: #171717;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    flex-direction: column;
    color: #9aa0a6;
    position: absolute;
    bottom: 0;
}

.footer-div{
    margin: 0;
    padding: 0 15px;
    border-top: 0.1mm solid #9aa0a6;
}

.footer a{
    width: fit-content;
    padding: 15px;
    cursor: pointer;
}

.footer a:hover{
    text-decoration: underline;
}